@charset "utf-8";
html,body{
    margin:0;
    font-family:"맑은 고딕";
    font-size:16px;
    color:black;
    background-color:white;
}
a{
    text-decoration: none;
    color:#333333;
}
a:hover{
    color:#666666;
}
img{
    vertical-align: bottom;
}
*{
    box-sizing:border-box;
}
header{
    width:100%;
    height:100px;
    /* border:1px solid black; */
    position:absolute;
    z-index:99999;
}
#contents{
    width:100%;
    height:1000px;
    /* border:1px solid black; */
    margin:auto;
    position:relative; /*수정*/
    background-color:#F2EEE3
}
footer{
    width:100%;
    height:100px;
    border:1px solid black;
    
}

/* 헤더 nav logo */
div.pc-group{
    display:none;
}

div.mobile-group{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    
}
nav{
    width:30px;
    height:30px;
    background-color:rgba(0,0,0,0.7);
    margin-left:10px;
    margin-top:20px;
    position:absolute;
    left:10px;
    top:10px;
}
h1{
    width:100px;
    height:auto;
    margin:auto;
    /* background-color:black; */
}
h1 img{
    width:100%;
}
button.mobile-bt{
    width:100%;
    height:100%;
    background-color:transparent;
    border:none;
    color:white;
}

div.mobile-gnb{
    position:fixed;
    width:95%;
    height:100%;
    left:0;
    top:0;
    background-color:white;
    box-shadow:3px 0 6px #aaa;
    display:none;
}
button.mobile-close{
    position:absolute;
    right:20px;
    top:20px;
    background-color:transparent;
    border:none;
    color:#666666;
}
h2.gnb-logo{
    width:150px;
    margin:auto;
    margin-top:20px;
}
h2.gnb-logo img{
    width:100%;
}
div.top-gnb{
    width:60%;
    margin:auto;
    margin-top:10px;
    display:flex;
    justify-content: space-around;
}
ul.m-gnb-list{
    width:90%;
    margin:auto;
    height:auto;
    list-style:none;
    padding:0;
    margin-top:20px;
}
ul.m-gnb-list>li{
    background-color:#3E853A;
    margin-bottom:5px;
}
ul.m-gnb-list>li>a{
    display:flex;
    height:40px;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding:0 10px;
}
div.gnb-thum{
    width:100%;
    display:flex;
    justify-content: space-around;
    margin-top:20px;
    flex-wrap:wrap;
}
div.gnb-thum div{
    width:40%;
}
div.gnb-thum div img{
    width:100%;
}
div.gnb-thum h3{
    text-align:center;
    font-size:14px;
}
div.gnb-banner{
    width:90%;
    margin:20px auto;
}
div.gnb-banner img{
    width:100%;
}

/* 콘텐츠 내용 작성 */
div.slide-wrap{
    width:100%;
    position:relative;
}
div.slide-wrap img{
    width:100%;
}

div.reserve-wrap{
    width:85%;
    /* border:2px solid #ddd; */
    position:relative;
    margin:auto;
}
div.reserve-group{
    width:100%;
    background-color:white;
    display:flex;
    flex-wrap:wrap;
    box-shadow:0 5px 6px #ddd;
}
div.reserve-group>div{
    width:50%;
    margin:5px 0;
    border-right:2px solid #ddd;
    padding:5px 10px;
    font-size:15px;
}
div.reserve-group>div:nth-of-type(even){
    border:none;
}
hr{
    width:100%;
    height:2px;
    border:none;
    background-color:#ddd;
}
div.direct-r{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2em !important;
    font-weight:bold;
}
span.reserve-title{
    display:block;
    color: rgb(144, 12, 93);
    font-weight:bold;
}
div.reserve-group select{
    border:none;
}

button.reserve-bt{
    width:100%;
    height:auto;
    background-color:rgb(144,12,93);
    font-size:2em;
    color:white;
    border:none;
    border-radius:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
button.reserve-bt img{
    width:40px;
    vertical-align: middle;
}


@media screen and (min-width:800px){
    div.mobile-group{
        display:none;
    }
    div.pc-group{
        display:block;
    }
}
