@charset "utf-8";
html,body{
    margin:0;
    font-family:"맑은 고딕";
    font-size:16px;
    color:black;
    background-color:white;
}
a{
    text-decoration: none;
    color:#333333;
}
a:hover{
    color:#666666;
}
img{
    vertical-align: bottom;
}
*{
    box-sizing:border-box;
}
header{
    width:100%;
    height:100px;
    /* border:1px solid black; */
    position:absolute;
    z-index:99999;
}
#contents{
    width:100%;
    height:auto;
    /* border:1px solid black; */
    margin:auto;
    position:relative; /*수정*/
    background-color:#F2EEE3;
    display:flex;
    flex-direction: column;
}
footer{
    width:100%;
    height:100px;
    border:1px solid black;
    
}

/* 헤더 nav logo */
div.pc-group{
    display:none;
}

div.mobile-group{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
<<<<<<< HEAD
    
=======
>>>>>>> b78a1537a9d3d921214ad4a78213b09700d64343
}
nav{
    width:30px;
    height:30px;
    background-color:rgba(0,0,0,0.7);
    margin-left:10px;
    margin-top:20px;
    position:absolute;
    left:10px;
    top:10px;
}
h1{
    width:100px;
    height:auto;
    margin:auto;
    /* background-color:black; */
}
h1 img{
    width:100%;
}
button.mobile-bt{
    width:100%;
    height:100%;
    background-color:transparent;
    border:none;
    color:white;
}

div.mobile-gnb{
    position:fixed;
    width:95%;
    height:100%;
    left:0;
    top:0;
    background-color:white;
    box-shadow:3px 0 6px #aaa;
    display:none;
}
button.mobile-close{
    position:absolute;
    right:20px;
    top:20px;
    background-color:transparent;
    border:none;
    color:#666666;
}
h2.gnb-logo{
    width:150px;
    margin:auto;
    margin-top:20px;
}
h2.gnb-logo img{
    width:100%;
}
div.top-gnb{
    width:60%;
    margin:auto;
    margin-top:10px;
    display:flex;
    justify-content: space-around;
}
ul.m-gnb-list{
    width:90%;
    margin:auto;
    height:auto;
    list-style:none;
    padding:0;
    margin-top:20px;
}
ul.m-gnb-list>li{
    background-color:#3E853A;
    margin-bottom:5px;
}
ul.m-gnb-list>li>a{
    display:flex;
    height:40px;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding:0 10px;
}
div.gnb-thum{
    width:100%;
    display:flex;
    justify-content: space-around;
    margin-top:20px;
    flex-wrap:wrap;
}
div.gnb-thum div{
    width:40%;
}
div.gnb-thum div img{
    width:100%;
}
div.gnb-thum h3{
    text-align:center;
    font-size:14px;
}
div.gnb-banner{
    width:90%;
    margin:20px auto;
}
div.gnb-banner img{
    width:100%;
}

/* 콘텐츠 내용 작성 */
div.slide-wrap{
    width:100%;
    position:relative;
}
div.slide-wrap img{
    width:100%;
}

div.reserve-wrap{
    width:85%;
    /* border:2px solid #ddd; */
    position:relative;
    margin:auto;
}
div.reserve-group{
    width:100%;
    background-color:white;
    display:flex;
    flex-wrap:wrap;
    box-shadow:0 5px 6px #ddd;
}
div.reserve-group>div{
    width:50%;
    margin:5px 0;
    border-right:2px solid #ddd;
    padding:5px 10px;
    font-size:15px;
}
div.reserve-group>div:nth-of-type(even){
    border:none;
}
hr{
    width:100%;
    height:2px;
    border:none;
    background-color:#ddd;
}
div.direct-r{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2em !important;
    font-weight:bold;
}
span.reserve-title{
    display:block;
    color: rgb(144, 12, 93);
    font-weight:bold;
}
div.reserve-group select{
    border:none;
}

button.reserve-bt{
    width:100%;
    height:auto;
    background-color:rgb(144,12,93);
    font-size:2em;
    color:white;
    border:none;
    border-radius:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
button.reserve-bt img{
    width:40px;
    vertical-align: middle;
}

/* 이벤트 박스 */
h2.event-title{
    text-align:center;
    width:100%;
    font-size:20px;
    margin:50px 0;
}
div.event-box{
    width:90%;
    background-color:white;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:10px;
    margin:50px auto;
}
div.event-img{
    width:100%;
}
div.event-img img{
    width:100%;
}
div.event-subtitle{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px 0;
    font-size:1.2em;
    font-weight:bold;
}
div.event-subtitle span:first-child{
    color:goldenrod;
}
div.event-subtitle span:last-child{
    color:darkgreen;
}
div.event-p {
    width:90%;
    display:flex;
    flex-direction:column;
    border:1px solid #eee;
    padding:20px 0;
}
div.event-p span:first-child{
    padding-left:40px;
    color:rgb(144,12,93);

} 
div.event-p span:nth-child(2){
    padding-left:60px;
    color:darkgreen;
}
div.event-p span:last-child{
    padding-left:80px;
}
div.event-subtitle span.weekdays{
    color:#AE1BA4;
}
div.event-subtitle span.ski{
    color:#D86914;
}
div.info-group{
    width:100%;
    display:flex;
    flex-direction: column;
    background-image:url(../images/infomation.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
div.info-group h3{
    color:white;
    text-transform: uppercase;
    text-align:center;
}
div.info-group ul{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}
div.info-group ul li{
    width:20%;
    margin:10px 5%;
}
div.info-group ul li a{
    color:white;
    font-size:0.7em;
    text-align:center;
}
div.info-group ul li img{
    width:100%;
}
div.info-group ul li .icon-img{
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.7);
    border-radius:50%;
    padding:15px;
}
@media screen and (min-width:800px){
    div.mobile-group{
        display:none;
    }
    div.pc-group{
        display:block;
        position:relative;
        height:100%;
    }
    div.pc-group nav{
        width:100%;
        height:100%;
        margin:0;
        position:relative;
        left:0;
        top:0;
    }
    div.pc-group nav .top-gnb{
        width:100%;
        height:40%;
        background-color:rgba(0,0,0,0.7);
        margin:0;
        display:flex;
        justify-content: space-between;
    }
    div.top-left-list{
        width:30%;
        height:100%;
        margin-left:20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color:white;
        
    }
    div.top-left-list a{
        color:white;
    }
    div.top-right-list{
        width:25%;
        height:100%;
        margin-right:20px;
        display:flex;
        align-items:center;
        justify-content:space-around;
        color:white;
        
    }
    div.top-right-list a{
        color:white;
    }
    div.bottom-gnb{
        width:100%;
        height:60%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    div.bottom-gnb h1{
        width:100px;
    }
    div.bottom-gnb h1 img{
        width:100%;
    }
    div.bottom-gnb-list{
        width:85%;
        height:100%;
        display:flex;
        justify-content: space-around;
        align-items:center;
    }
    div.bottom-gnb-list a{
        color:white;
    }
    div.reserve-wrap{
        display:flex;
        width:90%;
        align-items: center;
        /* position:absolute;
        top:18%;
        left:50%;
        transform:translate(-50%, -18%) */
        transform:translate(0,-40%);
    }
    div.reserve-group{
        flex-wrap:nowrap;
        padding:20px 0;
    }
    div.reserve-group hr{
        display:none;
    }
    button.reserve-bt{
        width:20%;
        padding:35px 0;
        margin-top:0;
    }
    h2.event-title{
        margin-top:15%;
        margin-bottom:20px;
        font-size:2em;
    }
    div.reserve-group>div{
        padding:5px;
    }
    
}

@media screen and (min-width:1280px){
    /* 이벤트 구역 */
    div.event-box{
        flex-direction:row;
    }
}
